namespace: ""

replicaCount: 2

image:
  repository: nginx
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80
  activeSuffix: active
  previewSuffix: preview
  previewEnabled: true
  annotations: {}
  previewAnnotations: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

pdb:
  enabled: true
  minAvailable: 1

rollout:
  revisionHistoryLimit: 5
  progressDeadlineSeconds: 600
  strategy:
    blueGreen:
      autoPromotionEnabled: true
      autoPromotionSeconds: 0
      scaleDownDelaySeconds: 30

externalSecret:
  enabled: false
  name: ""
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: zenith-app-env
    creationPolicy: Owner
    deletionPolicy: Delete
  data: []

  # example:
  # data:
  #   - secretKey: DB_USER
  #     remoteRef:
  #       key: dashboard-secrets
  #       property: DB_USER

  # If your secret needs templated data (stringData), extend as needed.

targetGroupBinding:
  enabled: false
  name: ""
  targetGroupARN: ""
  servicePort: 80
  targetType: ip
  networking: {}
